
.App {
    background-image: url("./imgs/loginpage.svg");
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	color: white;
	height: 100vh;
}

@media only screen and (max-width: 500px) {
    .App {
        /* background-image: url("./imgs/loginpage2.svg"); */
        background-color: black;
        height: 150vh;
    }
}