body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	background-color: blue;
	background-image: url("./imgs/loginpage.svg");
	background-size: cover;
}
.comic-panel {
	font-family: "Bangers", cursive;
	font-size: 3rem;
	background-color: white;
	border: 3px solid black;
	height: 50vh;
}
.comic{
  font-family: "Bangers", cursive;
	font-size: 3rem;
}
