html,
body,
#app,
#app > div,
#root {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	overflow: auto;
}
/* Fonts */
@font-face {
	font-family: Edo;
	src: url("Edo-font/edo.ttf");
}
  
/* Styling */
/* Fonts */
@font-face {
	font-family: Edo;
	src: url("Edo-font/edo.ttf");
}
  
/* Styling */
.background {
	background-image: url("./imgs/loginpage.svg");
	background-color: blue;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	background-color: blue;
}
.comic-panel{
	color: black;
	margin: 20px;
	background-color: white;
	border: 8px solid black;
	padding: 15px;
}


.comic {
	font-family: "Bangers", cursive;
	font-size: 2.5rem;
	margin: 8px;
	color: white;
}
.comic-panel-font {
	font-family: "Bangers", cursive;
	font-size: 2.5rem;
	margin: 8px;
	color: black;
}
.comic-panel-link {
	font-family: "Bangers", cursive;
	font-size: 2rem;
	margin: 8px;
	color: black;
}
p {
	color: black;
}
.comic-detail {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	padding: 0;
	margin: 30px;
}
.logo {
	margin-top: 0;
	display: flex;
	justify-content: center;
	height: 20rem;
	margin-bottom: 10px;
}
#center {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.center {
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	margin: 0;
}
.home {
	display: flex;
	background-size: cover;
	background-position: center;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	text-align: center;
}
.home-content {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	font-family: "Bangers", cursive;
	align-items: center;
	font-size: 3rem;
	text-align: center;
}
.home-buttons {
	position: relative;
	margin: 10px auto;
	/* display: flex; */
	/* flex-direction: row; */
	/* width: 20%; */
}
.edo-header{
	text-align: center;
	font-family: Edo;
	font-weight: normal;
}

/* Sign In Page */
.sign-in-panel {
	margin: 20px;
	background-color: white;
	border: 8px solid black;
	padding: 15px;
	color: black;
}

.auth-label{
	text-align: center;
	color:black;
	font-family: Edo;
	font-size: 120px;
	font-weight: normal;
}

.sign-in-field{
	/* Can't get the margin to the right of an input to go away to help with centering */

	/* text-align: center;
	width: 20vw;
	min-width: 350px;
	color: black;
	margin-right: 0;
	/* background-color: transparent;
	border: 0.15rem solid white;
	border-radius: 0;
	margin-bottom: 2vh;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden; */
  }
/* Sign In Page */
.sign-in-panel {
	margin: 20px;
	background-color: white;
	border: 8px solid black;
	padding: 15px;
	color: black;
}

.auth-label{
	text-align: center;
	color:black;
	font-family: Edo;
	font-size: 120px;
	font-weight: normal;
}

.sign-in-field{
	/* Can't get the margin to the right of an input to go away to help with centering */

	/* text-align: center;
	width: 20vw;
	min-width: 350px;
	color: black;
	margin-right: 0;
	/* background-color: transparent;
	border: 0.15rem solid white;
	border-radius: 0;
	margin-bottom: 2vh;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden; */
  }